.branding{
    color:aqua;

}
.blog-post-title{
color:blueviolet;


}
.title{
color:green;

}
.title{
color:red;

}

.main-brand2{
color: darkorange;
}
.title-2{
color: deeppink;
border: 2px solid crimson;
text-align: center;
}

.main-brand-3.title-3{
color: khaki;
border: 2PX dashed red;


}
.title-3{
color:blue;
}
.title-4{
color: springgreen;

}
h1{
color: violet;
}
h1.main-brand-5{
color: yellow;
}
.main-brand-5.title-5{
color:cyan;
}
.main-brand-5{
color: chartreuse;
}