*{                           /*   star selects literally every element like everythink */ 
font-weight: bold;
font-family: monospace;
font-size: larger;
font-style: italic;
}

.first-child-example {
    color: crimson;
}
.first-child-example:nth-child(2n+1){
    color: lime;
}

