h1{
	font-family:helvetica;
	color:blue;
	font-weigh:normal;
	text-decoration:underline;
	text-transform:uppercase;
	font-size:50px;
	border:8px orange dashed;
	text-align:right;
}
h2{
	font-family:monaco;
	color:seagreen;
	font-weigh:normal;
	text-decoration:underline;
	text-transform:uppercase;
	font-size:40px;
	border:9px gray dotted;
	text-align:center;
}

p{
	font-family:comic sans ms;
	color:#ffffff;
	font-weight:normal;
	text-decoration:underline;
	text-transform:uppercase;
	font-size:30px;
	background-color:black;}
div{
 	color:blue;
   }
span{
color:blue;
text-decoration:undeline;
font-style:italic;
	
}


ol{
	list-style:upper-roman;
}

ul{
	list-style:square;
	}

li{
	color:brown;
	}